
/* css reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.box {
  background: #c70505;
  padding: 20px;
  width: 400px;
  height: 500px;
  border: 10px solid rgb(115, 58, 191);
  margin: 10px;
  padding: 10px;
}

.second-box {
  background: #057dc7;
  padding: 20px;
  width: 300px;
  height: 400px;
  border: 10px solid black;
  margin: 10px;
  padding: 10px;
}

.third-box {
  background: #05c779;
  padding: 20px;
  width: 100px;
  height: 100px;
  border: 10px solid rgb(191, 115, 58);
  margin: 10px;
  padding: 10px;
}

.image-box {
  width: 200px;
  height: 200px;
  border: 5px solid #000;
  padding: 15px;
  margin: 20px;
  background-image: url("https://preview.redd.it/58g9rr3hznh61.jpg?auto=webp&s=4ce613f21df1880f89a6024022e25e2aa5aa5380");
}