* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  color: white;
  padding: 40px 40px;
  background-color: tomato;
  width: 100%;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

header a {
  color: white;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  text-transform: uppercase;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.image {
  position: relative;
  background-size: cover;
  background-position: left;
  height: 100vh;

  border-bottom: white 2px solid;
}

footer {
  background: tomato;
  text-align: center;
  color: white;
  padding: 40px;
}

.insert {
  position: absolute;
  bottom: 10%;
  left: 45px;
  padding: 20px;
  gap: 20px;
  color: tomato;
  display: flex;
  flex-direction: column;
  max-width: 80%;

  background-color: rgba(255, 255, 255, 0.9);
}

.insert h2 {
  opacity: 1;
  font-size: 20px;
  font-weight: 100;
}

.insert h1 {
  font-size: 36px;
}

.insert button {
  background-color: darkgreen;
  max-width: 200px;
  height: 48px;
  color: white;
  border-color: darkgreen;
  font-weight: bold;
}

.insert button:hover {
  background-color: white;
  color: black;
  border-color: red;
}