/* css reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  font-weight: bold;
  margin: 10px;
  color: black;
  text-decoration: none;
}

header img, header nav {
  align-items: center;
}
